<template>
  <v-container class="fill-height">
    <v-responsive class="align-center text-center fill-height">
      <div class="converter">
        <div class="col">
          <h3>From:</h3>
          <v-text-field v-model="fromValue"
          type="number"
          label="Amount"
          @update:model-value="changedFrom()">
          </v-text-field>
          <v-autocomplete
              v-model="fromCurrency"
              :items="currenciesList"
              item-title="name"
              item-value="code"
              label="Select Currency"
              hide-details
              @update:model-value="changeCurrency"
          ></v-autocomplete>
        </div>
        <div class="centered-content">
          <img :src="flagFromCurrency">
          <img src="@/assets/images/currency-exchange-svgrepo-com.svg">
          <img :src="flagToCurrency">
        </div>
        <div class="col">
          <h3>To:</h3>
          <v-text-field v-model="toValue"
          type="number"
          label="Amount"
          @update:model-value="changedTo()">
          </v-text-field>
          <v-autocomplete
              v-model="toCurrency"
              :items="currenciesList"
              item-title="name"
              item-value="code"
              label="Select Currency"
              hide-details
              @update:model-value="changeCurrency"
          ></v-autocomplete>
        </div>
      </div>
    </v-responsive>
  </v-container>
</template>

<script lang="ts">
  import { currenciesStore } from '../stores/currencies.store';
  import flags from '../assets/flags-vurrencies.json';
  export default {
    name: 'currencies-converter',
    setup() {
      const currencyStore = currenciesStore();
      return {
        currencyStore
      };
    },
    watch: {
      'currencyStore.currenciesList'() {
        this.currenciesList = this.currencyStore.currenciesList;
      },
      'currencyStore.currenciesConverter'() {
        this.currenciesConverter = this.currencyStore.currenciesConverter;
        this.changedFrom();
      },
    },
    data() {
      return {
        currenciesList: [{}],
        fromValue: 100,
        toValue: 0,
        fromCurrency: 'USD',
        toCurrency: 'EUR',
        currenciesConverter: {
          to: {rate: 1, inverseRate: 1},
          from: {rate: 1, inverseRate: 1}
        },
        flagFromCurrency: '',
        flagToCurrency: '',
      };
    },
    methods: {
      // Requests currencies
      getCurreciesList() {
        this.currencyStore.getCurrenciesList()
      },

      getCurrenciesConverter() {
        if (this.fromCurrency && this.toCurrency) {
          this.currencyStore.getCurrenciesConverter({
            from: this.fromCurrency.toLowerCase(),
            to: this.toCurrency.toLowerCase()
          })
        }

        this.flagFromCurrency = this.getFlag(this.fromCurrency) as string;
        this.flagToCurrency = this.getFlag(this.toCurrency) as string;
      },

      // Calculate exchange result on input changes
      changedFrom() {
        const toResult = this.fromValue * this.currenciesConverter.from.inverseRate * this.currenciesConverter.to.rate;
        this.toValue = Math.round(toResult * 100) / 100;
      },

      changedTo() {
        const fromResult = this.toValue * this.currenciesConverter.to.inverseRate * this.currenciesConverter.from.rate;
        this.fromValue = Math.round(fromResult * 100) / 100;
      },

      // Request currencies rates on currency type changes
      changeCurrency(){
        this.getCurrenciesConverter();
      },

      // Update flags on currency changed
      getFlag(currencyCode: string) {
        if (currencyCode) {
          return flags.filter(flag => flag.code == currencyCode.toUpperCase())[0].flag || ''
        }
      }
    },
    created() {
      this.getCurreciesList()
      this.getCurrenciesConverter()
    },
  };
</script>

<style lang="scss" scoped>
  .converter {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;

    .col {
      width: 100%;

      h3 {
        position: absolute;
        top: -35px;
        text-align: left;
      }

      .v-input__details{
        display: none;
      }
    }
  }

  .column {
    flex: 1;
  }

  .centered-content {
    margin: 0 16px;
    display: flex;
    gap: 10px;

    img {
      width: 25px;
    }
  }

  ::v-deep input::-webkit-outer-spin-button,
  ::v-deep input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

</style>
