<template>
  <v-app>
    <default-header />

    <default-view />
  </v-app>
</template>

<script lang="ts" setup>
  import DefaultHeader from './Header.vue'
  import DefaultView from './View.vue'
</script>
ß
