<template>
  <v-container>
    <div class="header">
      <div class="header-logo">
        <img src="@/assets/images/currency-exchange-svgrepo-com.svg" class="logo"/>
        Exchanger
      </div>
      <div class="popular-currencies">
        <popular-currencies></popular-currencies>
      </div>
    </div>
  </v-container>
</template>

<script lang="ts" setup>
  import PopularCurrencies from '@/components/common/PopularCurrencies.vue'
</script>

<style lang="scss" scoped>
.header{
  align-items: center;
  display: flex;
  justify-content: space-between;
  vertical-align: middle;

  .logo {

  }

  &-logo {
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
    img {
      display: inline-block;
      margin-right: 15px;
      width: 50px;
      align-items: center;
    }

  }
}

.popular-currencies {
  display: flex;
  align-items: center;
}
</style>
