<template>
  <div class="popular-currencies">
    <span>Exchange rate for 100 dollars:</span>
    <v-menu v-if="popularCurrencies.length" open-on-hover>
      <template v-slot:activator="{ props }">
        <v-btn v-bind="props">
          {{ firstCurrency.name }}: {{ firstCurrency.rate }}
        </v-btn>
      </template>

      <v-list>
        <v-list-item v-for="(item, index) in popularCurrencies" :key="index">
          <v-list-item-title>{{ item.name }}: {{ item.rate }}</v-list-item-title>
        </v-list-item>
      </v-list>
    </v-menu>
  </div>
</template>

<script lang="ts">
import { PopularCurrencies } from '@/interfaces/currencies.interface';
import { currenciesStore } from '@/stores/currencies.store';

export default {
  name: 'popular-currencies',
  setup() {
    const currencyStore = currenciesStore();
    return {
      currencyStore
    };
  },
  data() {
    return {
      popularCurrencies: [] as PopularCurrencies[],
      firstCurrency: {} as PopularCurrencies
    }
  },
  watch: {
    'currencyStore.popularCurrencies'() {
      this.popularCurrencies = this.currencyStore.popularCurrencies.map(currency => {
        currency.rate = Math.round(currency.rate * 100 * 100) / 100
        return currency
      });
      this.firstCurrency = this.popularCurrencies.shift() as PopularCurrencies;
    },
  },
  created() {
    this.currencyStore.getPopularCurrencies();
  }
}
</script>

<style lang="scss" scoped>
.popular-currencies {
  span {
    padding-right: 15px;
  }

}
</style>
